body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Light cyan background */
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0f7fa; /* Light cyan background */
}

.login-form {
  background: linear-gradient(135deg, #1a237e, #0d47a1); /* Royal dark blue gradient */
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-title {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; /* White */
  border: none;
  border-radius: 5px;
  color: #1a237e; /* Royal dark blue */
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0d47a1; /* Darker blue */
  color: #ffffff
}